*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #99e599;
    display :flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    /* color: aliceblue; */
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.titre{
    display:flex;
    justify-content: center;
    padding: 10px;
}


.form{
    background-color: #99e599;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 5px red; */
}

.formulaire{
    /* border: solid 5px rgb(19, 156, 49); */
    border-radius: 5px;
    padding: 5px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.one{
    width: 490px;
}

.bis{
    margin-top: 20px;
}


.label{
    display: flex;
    flex-direction: column;
}

.btn-left {
    margin-right: 10px;
}
.btn-right {
    margin-left: 10px;
}

textarea{
    display:flex;
    /* justify-content: center; */
}

.img{
    width: 30vw;
}

.picture{
    width: 2vw;
}